{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'assets/dist/css/bootstrap.min.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main my-2 pt-2 text-center">
    <h1 class="my-2 pt-2 text-center"> Hi </h1>  
    <a href="{% url 'checkout' %}"> <button class="w-10 btn-lg btn btn-success"  type="submit">Go to checkout</button></a>
    </div>
    <script src="{% static 'assets/dist/js/bootstrap.bundle.min.js' %}"></script>    
</body>
</html>